<?xml version="1.0"?>
<ruleset name="Logscope">
	<description>Coding standards for the Logscope plugin.</description>

	<file>.</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/assets/build/*</exclude-pattern>
	<exclude-pattern>*/languages/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="cache" value=".phpcs-cache"/>
	<arg name="colors"/>
	<arg value="ps"/>
	<arg name="parallel" value="8"/>

	<config name="testVersion" value="8.0-"/>
	<config name="minimum_supported_wp_version" value="6.2"/>

	<rule ref="WordPress-Core">
		<!-- PSR-4 autoloading uses `Foo.php`, not `class-foo.php`. -->
		<exclude name="WordPress.Files.FileName"/>
	</rule>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
	</rule>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="logscope"/>
			</property>
		</properties>
	</rule>
</ruleset>
